html {
	background: url("../img/cardboard_flat.png") repeat scroll 0% 0%
		transparent;
	overflow-y: scroll;
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #151B1B;
}

body {
	padding: 15px 15px 0 15px;
	margin-bottom: 0px;
}

img#logo-mini {
	margin-top: 2px;
	float: left;
}

.header-text {
	font-size: 28px;
	font-weight: bold;
}

.link-infront {
	color: rgba(54, 127, 134, 0.6);
}

#title {
	color: #367F86;
}

#footer {
	margin-top: 20px;
	margin-bottom: 10px;
	position: absolute;
	bottom: 0;
}

.extends-symbol {
	color: #999999;
}

#main {
	width: 100%;
	margin-top: 10px;
}

a {
	color: #367F86;
	text-decoration: none;
}

a:hover,a:hover>.link-infront {
	color: #367F86;
}

.section {
	background-color: #F0F0F0;
	padding: 10px;
	color: #49493E;
	font-size: 15px;
	font-weight: bold;
}

.section:hover {
	background-color: #367F86;
	color: #F0F0F0;
}

.table {
	display: table;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
}

.medium-header {
	font-size: 20px;
	font-weight: bold;
}

.lbl-categories {
	float: left;
	font-size: 15px;
}

.left-panel {
	width: 300px;
	margin-top: 10px;
}

#entities-list {
	width: 300px;
	overflow: auto;
	padding-left: 5px;
}

#manage-buttons {
	float: right;
	clear: left;
}

#manage-buttons>.icon-button {
	margin-left: 10px;
}

#table-container {
	overflow: auto;
	background-color: #F0F0F0;
	border: 1px solid #BBBBBB;
	position: relative;
	top: -1px;
	padding: 2px;
	top: -1px;
	cursor: default;
}

.key-cell,.index-header-cell {
	background-color: #444444;
	color: #F0F0F0;
	font-weight: bold;
}

.value-row {
	background-color: #FFFFFF;
}

.info-key-cell {
	background-color: #AAAAAA;
}

.info-cell {
	background-color: rgba(255, 255, 255, 0.5);
}

.ui-cell {
	padding: 8px;
	border: 1px solid #DDDDDD;
}

.ui-cell-mini {
	padding: 6px;
	border: 1px solid #DDDDDD;
}

.handsontable .current-row {
  background-color: #ECF7F7;
}

.index-cell {
	background-color: #BDDBDE;
	text-align: center;
}

.data-item {
	background-image: url("../img/table-icon.png");
	background-position: 6px center;
	background-repeat: no-repeat;
	color: #367F86;
	font-size: 13px;
	padding: 3px;
	background-repeat: no-repeat;
}

.data-item-selected {
	font-weight: bold;
}

.data-item:hover {
	cursor: pointer;
}

h3.category-item {
	background-image: url("../img/category-icon.png");
	background-position: 6px center;
	background-repeat: no-repeat;
	font-weight: normal;
	color: #49493E;
	font-size: 15px;
	padding: 3px;
	margin: 0px;
}

h3.category-item-selected {
	font-weight: bold;
}

h3.category-item:hover {
	cursor: pointer;
}

.category-content-holder {
	margin-left: 15px;
}

#waiting-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(230, 230, 230, 0.4);
	z-index: 100000;
	display: none;
}

#waiting-bg.loading {
	display: block;
}

.waiting-gif {
	display: none;
	position: absolute;
	z-index: 100001;
	top: 50%;
	left: 45%;
}

.loading .waiting-gif {
	display: block;
}

.parameter-type-dialog {
	padding: 10px;
	margin-left: -10px;
	margin-top: 27px;
	font-size: 12px;
	display: inline;
	position: absolute;
	border: 1px solid #777777;
	background: #F0F0F0;
	color: #323F59;
}

.ui-button {
	border: 1px solid #BBBBBB;
	padding: 5px;
	color: #49493E;
	color: #151B1B;
	background: #f9f9f9;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9),
		color-stop(100%, #ededed));
	background: -webkit-linear-gradient(top, #f9f9f9 0%, #ededed 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%, #ededed 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%, #ededed 100%);
	background: linear-gradient(to bottom, #f9f9f9 0%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( 
		                     startColorstr='#f9f9f9', endColorstr='#ededed',
		GradientType=0);
}

.ui-button:hover {
	color: #F0F0F0;
	cursor: pointer;
	background: #234e56;
	background: -moz-linear-gradient(top, #234e56 0%, #367f86 100%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #234e56),
		color-stop(100%, #367f86), color-stop(100%, #ededed));
	background: -webkit-linear-gradient(top, #234e56 0%, #367f86 100%, #ededed 100%);
	background: -o-linear-gradient(top, #234e56 0%, #367f86 100%, #ededed 100%);
	background: -ms-linear-gradient(top, #234e56 0%, #367f86 100%, #ededed 100%);
	background: linear-gradient(to bottom, #234e56 0%, #367f86 100%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  
		                     startColorstr='#234e56', endColorstr='#ededed',
		GradientType=0);
	border: 1px solid #F0F0F0;
}

.storage-cell div.tooltip {
	display: none;
	padding: 5px;
	margin-top: 7px;
	color: #333333;
	font-size: 12px;
	position: absolute;
	border: 1px solid #ADB5C4;
	background: #F0F0F0;
	overflow: auto;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.storage-cell:hover div.tooltip {
	display: block;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.sheet-tab-container {
	width: 140px;
	display: inline-table;
	margin-right: 10px;
	cursor: pointer;
	z-index: 100;
	position: relative;
}

.sheet-tab {
	background: #DDDDDD;
	text-align: center;
	height: 27px;
	font-family: arial, sans-serif;
	font-size: 14px;
	color: #777777;
	border-bottom: 1px solid #BBBBBB;
}

.sheet-tab-top {
	width: 120px;
	border-bottom: 10px solid #DDDDDD;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

.sheet-tab-selected>.sheet-tab {
	background: #F0F0F0;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	border-bottom: 1px solid #F0F0F0;
	color: #151B1B;
	z-index: 1001;
}

.sheet-tab-selected>.sheet-tab-top {
	border-bottom: 10px solid #F0F0F0;
	left: 1px;
	position: relative;
	z-index: 1001;
}

.sheet-tab-top-border {
	display: block;
	position: relative;
	top: 10px;
	left: 0;
	border-bottom: 11px solid #BBBBBB;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	width: 120px;
	z-index: -5;
}

.top-panel {
	height: 49px;
	display: table-row-group;
}

.top-left-cell {
	margin-top: 11px;
}

.top-panel>div.sheet-tab-container {
	display: inline-table;
}

.under-sections {
	margin-top: 25px;
}

.icon-button {
	padding: 6px 5px 3px 10px;
	display: inline-table;
	border: 1px solid #BBBBBB;
}

.button-disabled {
	color: #888888;
	background-color: #DDDDDD;
	cursor: default;
}

.button-enabled {
	color: #151B1B;
	background: #f9f9f9;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9),
		color-stop(100%, #ededed));
	background: -webkit-linear-gradient(top, #f9f9f9 0%, #ededed 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%, #ededed 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%, #ededed 100%);
	background: linear-gradient(to bottom, #f9f9f9 0%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( 
		                     startColorstr='#f9f9f9', endColorstr='#ededed',
		GradientType=0);
}

.button-enabled:hover {
	color: #F0F0F0;
	cursor: pointer;
	background: #234e56;
	background: -moz-linear-gradient(top, #234e56 0%, #367f86 100%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #234e56),
		color-stop(100%, #367f86), color-stop(100%, #ededed));
	background: -webkit-linear-gradient(top, #234e56 0%, #367f86 100%, #ededed 100%);
	background: -o-linear-gradient(top, #234e56 0%, #367f86 100%, #ededed 100%);
	background: -ms-linear-gradient(top, #234e56 0%, #367f86 100%, #ededed 100%);
	background: linear-gradient(to bottom, #234e56 0%, #367f86 100%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  
		                     startColorstr='#234e56', endColorstr='#ededed',
		GradientType=0);
}

.icon-button.button-enabled>.icon-enabled {
	display: inherit;
}

.icon-button.button-enabled>.icon-disabled {
	display: none;
}

.icon-button.button-disabled>.icon-enabled {
	display: none;
}

.icon-button.button-disabled>.icon-disabled {
	display: inherit;
}

#data-item-options {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	border: 1px solid #BBBBBB;
}

#data-item-options>div {
	display: block;
}

.checkbox-option {
	padding: 5px;
	background-color: #F0F0F0;
	color: #151B1B;
}

.checkbox-option:hover {
	background-color: #367F86;
	color: #F0F0F0;
}

.checkbox-option>img {
	padding-left: 3px;
	padding-right: 1px;
}

.add-tab {
	background-color: rgba(240, 240, 240, 0.4);
	color: #888888;
	text-align: center;
	height: 27px;
	font-family: arial, sans-serif;
	font-size: 14px;
}

.add-tab-top {
	width: 120px;
	border-bottom: 10px solid rgba(240, 240, 240, 0.4);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

.icon-button-text {
	position: relative;
	top: -3px;
	left: 4px;
	font-size: 13px;
	margin-right: 10px;
}

.tree-item-text {
	position: relative;
	top: 1px;
	left: 20px;
	font-size: 14px;
	margin-right: 10px;
}

.changed-sign {
	color: #A5A5A5;
	font-size: 15px;
	position: relative;
	left: 10px;
	top: 3px;
}

.changed-value {
	min-width: 60px;
	width: 100%;
	margin: -3px;
	border: 1px inset #eee;
}

.handsontable td[modified] {
	background-color: #FFF3B3;
}

.handsontable th[modified] {
	background-color: #7F774F;
}

#login-form {
	position: absolute;
	font-size: 14px;
}

.ui-dialog {
	background-color: #F0F0F0;
	border: 1px solid #888888;
	position: absolute;
	padding: 5px;
	font-size: 14px;
	z-index: 10000;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.ui-dialog-title {
	background: #367f86;
	background: -moz-linear-gradient(top, #367f86 0%, #234e56 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #367f86),
		color-stop(100%, #234e56));
	background: -webkit-linear-gradient(top, #367f86 0%, #234e56 100%);
	background: -o-linear-gradient(top, #367f86 0%, #234e56 100%);
	background: -ms-linear-gradient(top, #367f86 0%, #234e56 100%);
	background: linear-gradient(to bottom, #367f86 0%, #234e56 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(            startColorstr='#367f86',
		endColorstr='#234e56', GradientType=0);
	color: #F0F0F0;
	padding: 10px;
}

.ui-dialog-content {
	padding: 10px;
}

.storage-cell {
	color: #0066c5;
}

.users-header-row {
	background-color: #444444;
	color: #F0F0F0;
}

.users-row {
	background-color: #F0F0F0;
}

.users-header-cell {
	padding: 10px;
}

.users-cell {
	padding: 10px;
}

.users-list {
	width: auto;
}

.add-user-table {
	width: auto;
	background-color: rgba(180, 180, 180, 0.3);
}

.add-user-table-cell {
	padding: 5px;
	margin: 5px;
}

#user-panel {
	float: right;
	font-size: 15px;
}

.border-right {
	border-right-color: #DDDDDD;
	border-right-style: solid;
	border-right-width: 1px;
	padding-right: 15px;
}

.border-left {
	padding-left: 15px;
}

.dialog-buttons {
	padding-top: 10px;
}

.dialog-cell {
	padding-bottom: 10px;
}

.dialog-label {
	padding-right: 10px;
}

.error-message {
	font-size: 18px;
	color: #C03300;
}

.dialog-error-message {
	display: none;
	font-size: 12px;
	color: #C03300;
}

.tab-content {
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	padding: 10px 20px;
	overflow: auto;
	font-family: Consolas, 'Lucida Console', 'Bitstream Vera Sans Mono',
		'DejaVu Sans Mono', monospace;
}

.dialog-tab {
	padding: 9px;
	margin: 0px;
}

#tabs ul {
	margin: 9px 0;
}

.ui-state-default .dialog-tab {
	background-color: #DDDDDD;
	border: 1px solid #C0C0C0;
}

.ui-state-active .dialog-tab {
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

.ui-helper-clearfix:after {
	clear: both;
}

.ui-helper-clearfix:before,.ui-helper-clearfix:after {
	content: "";
	display: table;
}

.ui-helper-clearfix:before,.ui-helper-clearfix:after {
	content: "";
	display: table;
}

.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0.2em 0.2em 0;
}

.ui-tabs .ui-tabs-nav li {
	border-bottom: 0 none;
	float: left;
	list-style: none outside none;
	margin: 1px 0.2em 0 0;
	padding: 0;
	position: relative;
	top: 0;
	white-space: nowrap;
}

.build {
	color: #777777;
}

.section-desription {
	color: #49493E;
}

.selected-cell {
	background-color: #DAF0F0;
}

.section-cell {
	padding-top: 35px;
}

.gap {
	width: 15px;
}

#delimiter {
	width: 10px;
	cursor: e-resize;
}

.fileform {
	background-color: #FFFFFF;
	border: 1px solid #BBBBBB;
	height: 26px;
	overflow: hidden;
	padding: 2px;
	position: relative;
	text-align: left;
	vertical-align: middle;
	width: 450px;
	cursor: pointer;
}

.fileform #file {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	-moz-opacity: 0;
	filter: alpha(opacity =                   0);
	opacity: 0;
	font-size: 15px;
	height: 26px;
	z-index: -1;
}

.fileform .selectbutton {
	float: right;
	font-size: 12px;
	line-height: 20px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 60px;
	padding: 2px;
}

.fileform #fileformlabel {
	background-color: #FFFFFF;
	float: left;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	padding: 2px;
	text-align: left;
	vertical-align: middle;
	width: 375px;
}

.no-padding {
	padding: 0px;
}

.entities-values {
	margin-bottom: 60px;
}

#admin-grible-version {
	font-size: 14px;
}

#login-grible-logo {
	float: left;
	padding: 16px 16px 15px 16px;
	border-left: 1px solid rgb(221, 221, 221);
	border-top: 1px solid rgb(221, 221, 221);
	border-bottom: 1px solid rgb(221, 221, 221);
	background-color: #FFFFFF;
}

#outer-credentials {
	float: left;
	border: 1px solid rgb(221, 221, 221);
}

#outer-dialog-error-message {
	width: 250px;
}

#credentials {
	padding: 10px;
	width: 280px;
}

.login-dialog-buttons {
	border-top: 1px solid #DDDDDD;
	padding: 10px;
}

.label-option {
	cursor: default;
}

#video-tutorial-msg {
	width: 360px;
	height: 40px;
	position: absolute;
	bottom: 10%;
	right: 0px;
	display: none;
}

#video-tutorial-msg .msg-text {
	position: relative;
	top: -7px;
	left: 4px;
}

.floatleft {
	float: left;
}

#home-image {
	position: relative;
	top: 4px;
	margin-right: 5px;
}