<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013 Maksym Barvinskyi. All rights reserved. This program 
	and the accompanying materials are made available under the terms of the 
	GNU Public License v2.0 which accompanies this distribution, and is available 
	at http://www.gnu.org/licenses/old-licenses/gpl-2.0.html Contributors: Maksym 
	Barvinskyi - initial API and implementation -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Grible</display-name>
	<welcome-file-list>
		<web:welcome-file>index.jsp</web:welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>480</session-timeout>
	</session-config>
</web-app>